@font-face {
    font-family: "UBU-m";
    src: url(fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "UBU";
    src: url(fonts/Ubuntu-Italic.ttf);
}

@font-face {
    font-family: "UBU-b";
    src: url(fonts/Ubuntu-Bold.ttf);
}

body{
    width: 100%;
    height: fit-content;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 50px;
    background-image: url(Public/site-bg.svg);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link-box{
    width: fit-content;
    height: 100%;
    padding: 13px;
}

.link-1,.link-2{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "UBU-m";
}

.link-1{
    margin-right: 30px;
}

.ls-box-1,.ls-box-2{
    width: fit-content;
    height: 100%;
}

.ls-box-2{
    padding: 13px;
    float: right;
}

.btn-box{
    width: fit-content;
    height: 100%;
    float: right;
}

.logo-box{
    width: fit-content;
    height: fit-content;
}

.logo{
    height: 45px;
}

.btn-4,.btn-5{
    width: 83px;
    height: 25px;
    background-color: rgb(255, 255, 255,1);
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: "UBU";
}


.b-1{
    width: 100%;
    height: 500px;
    background-image: url(Public/site-bg.svg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.w{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    border-bottom: 1px solid purple;
}

.bx-1{
    width: 645px;
    height: fit-content;
    margin-left: 100px;
}

.avt{
    width: 480px;
    margin-top: 58px;
    float: right;
    margin-left: 40px;
}

.txt-1{
    color: #ffffff;
    font-size: 100px;
    font-family: "UBU-b";
}

.box-btn{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
}

.btn-1,.btn-2{
    width: 200px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    font-size: 25px;
    font-family: "UBU";
    cursor: pointer;
}

.btn-1{
    margin-right: 40px;
}

.bx-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.img-box{
    width: fit-content;
    height: 100%;
}

.h-box{
    width: 100%;
    height: 100%;
    padding: 60px;
}

.img-1{
    height: 100%;
}

.h-1{
    font-size: 50px;
    font-family: "UBU-b";
}

.para{
    margin-left: 60px;
    margin-top: 40px;
    font-size: 20px;
    font-family: "UBU-m";
}

.btn-3{
    margin-left: 500px;
    margin-top: 200px;
    width: 150px;
    height: 45px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    font-family: "UBU";
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
}

.foot-box{
    width: 100%;
    height: 259px;
    display: flex;
    justify-content: center;
}

.cpr-box{
    width: 80%;
    height: 40px;
    margin: auto;
    border-top: 1px solid #ffffff;
}

.cpr{
    color: #ffffff;
    text-align: center;
    font-family: "UBU";
    font-size: 15px;
    margin-top: 10px;
}

.foot-con, .foot-con1{
    width: 200px;
    height: 200px;
    background-image: url(Public/site-bg.svg);
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.foot-con{
    margin-right: 50px;
}